@model complaint.Models.ModelView
@{
    ViewBag.Title = "GetComplaintDetail";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<link href="~/assets/css/styleComplaint.css?v=1" rel="stylesheet" />
<script src="~/Scripts/jquery-3.5.0.min.js"></script>
<section id="facts" style="background-color:white;">
    <h2 class="complaint-title">@Model.complaints.ComplaintTitle</h2>
    <hr />
</section>


<div class="container">
    <div class="be-comment-block">

        <div class="be-comment">
            <div class="be-img-comment">

                <img src="@Model.complaints.User.UserImage" alt="" class="be-ava-comment">

            </div>
            <div class="be-comment-content">

                <span class="be-comment-name">
                    <a href="#">@Model.complaints.User.UserNameSurname</a>
                </span>
                <span class="be-comment-time">
                    <i class="fa fa-clock-o"></i>
                    @Model.complaints.Date
                </span>

                <p class="be-comment-text" style="word-break:break-word">
                    @Model.complaints.ComplainDetail
                    @if (Model.complaints.Document != null)
                    {
                        <div class="img-rounded">
                            <img src="@Model.complaints.Document" alt="" class="w3-imag" style="width:500px;height:400px">
                        </div>
                    }
                </p>






            </div>
        </div>

        @if (ViewBag.companyName != null)
        {

            <div class="be-comment">
                <div class="be-img-comment">
                    <a href="#">
                        <img src="@Model.Answer.Company.CompanyLogo" alt="" class="be-ava-comment">
                    </a>
                </div>
                <div class="be-comment-content">
                    <span class="be-comment-name">
                        <a href="#">@Model.Answer.Company.CompanyName</a>
                    </span>

                    <p class="be-comment-text" style="word-break:break-word">
                        @Model.Answer.Text
                    </p>
                </div>
            </div>
        }
        @if (@ViewBag.UserCommentName != null)
        {


            foreach (var a in Model.Comments)
            {




                <div class="be-comment">
                    <div class="be-img-comment">
                        <a href="#">
                            <img src="@a.User.UserImage" alt="" class="be-ava-comment">
                        </a>
                    </div>

                    <div class="be-comment-content">
                        <span class="be-comment-name">

                            <a href="#">@a.User.UserNameSurname</a>

                        </span>

                        <p class="be-comment-text" style="word-break:break-word">
                            @a.Text
                        </p>
                    </div>
                </div>

            }




        }


        @if (User.Identity.IsAuthenticated)
        {
            @Html.Hidden("idUser", Request.Cookies["user"].Value)




            @Html.Hidden("id2", Model.complaints.ComplaintID)

            <div class="row">



                @Html.TextArea("text", new { @class = "form-control", cols = "130", style = "margin-left:5%; height:120px;", placeholder = "Yorumunuz", id = "txtInput", name = "txtInput" })


                <button class="btn btn-primary" id="send" name="send" style="margin-top:1%; margin-left:92%">Gönder</button>

            </div>





        }



    </div>
</div>

<script>
    $(document).ready(function () {

        $('#send').click(function () {
            var Text = $('#txtInput').val();
            var UserID = $('#idUser').val();
            var ComplaintID = $('#id2').val();

            if (Text == "" || UserID == "" || ComplaintID == "") {
               
                toastr.info("Her şeyin doğru olduğundan emin olun.")
                return;
            }





            $.ajax({
                type: 'Post',
                url: "/Complaint/WriteaComments",
                data: { Text, UserID, ComplaintID},

                success: function (data) {

                    if (data.success) {

                        toastr.success("Yorumunuzu aldık")


                    }
                    else {
                        toastr.error("Her şeyin doğru olduğundan emin olun.")
                    }

                },
                error: function () {
                    toastr.error("Bir şeyler yanlış gözüküyor.")
                }

            });



        })
    });
</script>









